html, body {
  height: 100%;
}

body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--background1, white);
}

:root {
  --background1: rgb(205, 199, 172);;
  --background2: rgb(224, 246, 209);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  /* font-size: 16px; */   /* Disables browser font size setting */
}

:root.light {
  --background1: rgb(255, 255, 255);
  --background2: rgb(255, 255, 255);
  --text1: rgb(0, 0, 0);
  --text2: rgb(0, 0, 0);
  --text-footer: rgb(0, 0, 0);
  /* font-size: 16px; */
}

:root.dark {
  --background1: rgb(0, 0, 0);
  --background2: rgb(0, 0, 0);
  --text1: rgb(255, 255, 255);
  --text2: rgb(255, 255, 255);
  --text-footer: rgb(255, 255, 255);
  /* font-size: 16px; */
}

body {
  display: grid;
  grid-template: 2fr 6fr 1fr 40px / 1fr 5fr 1fr;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.main-title {
  font-size: 4rem;
  margin: 1rem;
  color: rgb(51, 134, 51);
  justify-self: center;
  font-family: "Protest Guerrilla";
}

.content1 {
  display: flex;
  justify-content: center;

  grid-column: 1 / 2;
  grid-row: 2 / 3;

  background-color: var(--background2);
  border: 1px solid rgb(179, 212, 161);
  border-radius: 10px;
  margin: 0 10% 0 10%;
}

#addBook {
  margin-top: 10%;
  height: 8%;
  border: 1px solid green;
  border-radius: 5px;

}

.content2 {
  background-color: rgb(255, 255, 255);
  height: 0px;
  width: 0px;
}

dialog {
  background-color: rgb(205, 199, 172);
}

ul,
li {
  list-style: none;
}

.title-label {
  color: blue;
}

.content3 {
  display: grid;

  grid-column: 2 / 3;
  grid-row: 2 / 3;

  background-color: var(--background2);
/*   border: 2px solid rgb(179, 212, 161);
 */  border-radius: 10px;
}

caption {
  border: 1px solid rgb(179, 212, 161);
}

table {
  border-collapse: collapse;
}

th,
td {
  height: 5vh;
  width: 10%;
  border: 1px solid rgb(179, 212, 161);
  padding-left: 0.5%;
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: rgb(201, 231, 183);
}

#cell04,
#cell14,
#cell24,
#cell34,
#cell44,
#cell54,
#cell64,
#cell74,
#cell84,
#cell94 {
  position: relative;
}

.delete-button {
  position: absolute;
  top: 25%;
  left: 35%;
}

#cell05,
#cell15,
#cell25,
#cell35,
#cell45,
#cell55,
#cell65,
#cell75,
#cell85,
#cell95 {
  position: relative;
}

.read-button {
  position: absolute;
  top: 25%;
  right: 5%;
}

footer {
  grid-column: 1 / 4;
  grid-row: 4 / 5;

  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: var(--text-footer);
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
}